*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

:root {
    font-size: 14px;
}

body {
    max-width: 1040px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

#head {
    padding: 1rem;
    background-color: rgba(0, 162, 255, 0.678);
    border-bottom: 1rem groove springgreen;
    text-align: center;
}

#head .dp-img {
    width: 80px;
    border-radius: 50%;
}

#head h1 {
    margin-top: 1.4rem;
    font-size: 1.5rem;
    margin-left: 5rem;
}

#head,
#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #fff;
}

#navbar {
    margin-top: 1.5rem;
}

#navbar div {
    width: 5.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: springgreen;
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
}

#navbar div:hover {
    background-color: rgba(58, 40, 90, 0.664);
    transition: all 1s;
}

#navbar div:nth-child(1) {
    background-color: rgba(58, 40, 90, 0.664);
}

#navbar>div>a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.the-only-img {
    max-width: 100%;
    padding: 2rem;
}

.name-para,
.title-para {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: bolder;
    color: rgb(13, 109, 133);
}

#grid-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;

}

#grid-sec img {
    width: 100%;
    object-fit: cover;
    padding: 1.5rem;
    border-bottom: 5px groove springgreen;
}

#grid-sec p {
    padding-bottom: 1rem;
}

button {
    background-color: rgba(0, 162, 255, 0.678);
    padding: 0.5rem;
    color: #fff;
    border: transparent;
    border-radius: 10px;
    margin: 0.5rem;
}

button:hover {
    background-color: springgreen;
    cursor: pointer;
    transition: all 1s;
}

#stack-section {
    padding: 2rem 0rem;
    border-radius: 5px;

}

#stack-section h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    padding-top: 2rem;
    color: rgba(54, 33, 92, 1);
}

#stack-section div {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 0.5rem;
    background-color: springgreen;
    margin: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

#stack-section div:hover {
    background-color: rgba(0, 162, 255, 0.678);
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}

#stack-section #stack-div {
    border-bottom: 1rem groove springgreen;
    border-top: 1rem groove springgreen;
}

#projects-section h1 {
    text-align: center;
    color: rgba(54, 33, 92, 1);
    padding: 1rem;
}

#projects-section p {
    text-align: center;
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
}

.projects-btn,
.blogs-btn {
    padding: 0.5rem;
    background-color: rgba(0, 162, 255, 0.678);
    color: #fff;
    border-radius: 5px;
    margin: 1.5rem auto;
    width: 8rem;
    text-align: center;
}

.projects-btn a,
.blogs-btn a {
    text-decoration: none;
    color: #fff;
}

.projects-btn:hover,
.blogs-btn:hover {
    background-color: springgreen;
    cursor: pointer;
    transition: all 1s;
}

#blogs-section {
    margin: 1.5rem auto;
    text-align: center;
}

#blogs-section h1 {
    padding: 1rem;
    color: rgba(54, 33, 92, 1);
}

#blogs-section p {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
}

#footer {
    padding: 0.5rem 0rem;
    background-color: rgba(0, 162, 255, 0.678);
    border-bottom: 1rem groove springgreen;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: -0.05em;
}

#footer img {
    padding: 1.5rem;
}

#footer img:hover {
    padding-bottom: 1rem;
    transition: all 1s;
}


/* Here I will make hamburger menu button */
/* @media only screen and (max-width: 687px) {
    #navbar {
        display: none;
    }
} */